/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

body{
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}
/*
    =========================
    Grid
    =========================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1170px;
}
.col-1-3 {
    display: inline-block;
    width: calc(100% / 3);
    float: left;
    vertical-align: top;
}
.container-padding{
    padding: 0 200px ;
}
section{
    padding: 100px 0;
}
section:first-of-type{
    padding: 0;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, h6, p {
    margin-bottom: 22px;
}

h1,h2,h3,h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
}
h1{
    font-size: 120px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: uppercase;

}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
/*
  ========================================
  Buttons
  ========================================
*/

.btn {

    display: inline-block;
    margin: 0;
}
.btn-alt {

    padding: 10px 20px;
    border: 1px solid #979797;
    font-size : 18px;
   color : #333;
    letter-spacing: 2px;
    line-height: 23px;

}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*
    =====================================
    Misc
    =====================================
*/

.dash{
    background: #C41230;
    width: 60px;
    height: 3px;
    margin: 50px auto;
}
.dash-muted {
    background: #cacaca;
    width: 50px;
    height: 2px;
    margin: 30px auto;
}
 /* ========================================
  Primary footer
  ========================================
*/

.primary-footer #copyright {
    float: left;
}

/*
  ========================================
  Navigation
  ========================================
*/
/*.logo{*/
    /*float: left;*/
    /*padding: 40px 0 22px 0;*/
    /*display: inline-block;*/

/*}*/

.nav {
    position: relative;
    padding: 20px 0;

}
.nav ul {
width: 100%;
    height: 80px;
    margin-top: -20px;
    text-align: right;
}
.nav li{
    display: inline;



}
.nav a {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #333333;
    letter-spacing: 4px;
    text-transform: uppercase;margin: 0 10px;
    text-align: center;
    transition: 0.3s;


}
.nav a:hover {
    color: red;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    ul.topnav li {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
/*
  ========================================
  Header
  ========================================
*/


header{
    background-image: url("../images/diwanee-cover.png");
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    max-width: 100%;
}

header h1, header p {
    letter-spacing: 1px;
    color: #333333;
}
header p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;

}
#main-text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
  ========================================
  Services
  ========================================
*/

#services h4{
    letter-spacing: 4px;
    line-height: 30px;

}
.service-box {
    padding: 80px 50px;
    background-color:#fbfbfb;

}
.service-box1{
    background-image: url("../images/triangle-white.png") ;
    background-repeat: no-repeat;
    background-position:-90% center;
}
.service-box2{
    background-color: #ededed;
}
.service-box3{
    background-image: url("../images/square-white.png");
    background-repeat: no-repeat;

    background-position: -30% -20%;
}
.service-box img {
    margin-bottom: 30px;
    max-height: 90px;

}
/*
  ========================================
  Jobs
  ========================================
*/


#jobs p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    color: #333333;

}
#jobs .job-offer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    color: #888;
    line-height: 34px;

}
/*
  ========================================
  About
  ========================================
*/
#about {
    background-color: #fbfbfb;
    padding: 100px 0;
}

/*
  ========================================
 Contact
  ========================================
*/

#contact img:first-of-type{
    margin-right: 5px;
}
#contact img:last-of-type{
    margin-left: 5px;
}



/*
  ========================================
 Footer
  ========================================
*/

footer {
    background-color: #333;

}
#offices{
    padding: 100px 0;

}
#offices .col-1-3{
    padding-left: 100px;
}
#offices .col-1-3:first-child{
    padding-left:0;
}
#offices p {
    margin-bottom: 5px;
}
#offices h5 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2px;
}
#offices img {
    vertical-align: middle;

    margin-right: 10px;
}
#footer-copyright{
    background-color:#2D2D2D ;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 20px;

}
#footer-copyright .container{
   padding: 0;
}
#copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #5B5B5B;
    letter-spacing: 2px;
    padding-top: 30px ;
    width: 100%;

}
#copyright p {
    margin-bottom: 0;
}
#links{
    text-align: right;
   margin-top: -20px;
}
#links ul li {
    display: inline-block;
    color: #5B5B5B;
    padding-right: 10px;
}
#links ul li a {

    color: #5B5B5B;

}
#links .fa {
    font-size: 22px;
}




