//@import '../base/_variables.scss';


.btn {
  display: inline-block;
  padding: $button-padding;
  border: 1px solid $color-darkGrey;
  font-size : $button-font-size;
  color: $color-darkGrey;
  letter-spacing: 2px;
  line-height: 23px;
  text-transform: uppercase;
  transition: all 0.3s;
  &:hover {
    background-color: $color-darkGrey;
    color: $color-white;
  }
  @include media("(max-width: 480px)"){
    display: none;
  }
}

.btn-dark {
  @extend .btn;
  @include media("(min-width: 481px)") {
    border-color: $color-white;
    color: $color-white;
    background-color: $color-darkGrey;
    &:hover {
      background-color: $color-white;
      color: $color-darkGrey;
      border-color: $color-darkGrey;
    }
  }
}