.primary-footer {
  @extend %clearfix;
  @include padding(15px 0);
  background-color: $color-blackGrey;
  @include media("(max-width: 480px)") {
    background-color: $color-darkGrey;
    padding: 0;
  }
  p{
    @extend %footer-typo;
    float: left;
    margin-bottom: $margin-bottom-none;
    @include media("(max-width: 480px)") {
      @include size-height($font-size-mobile-xxx-small, 10px);
      float: none;
      text-align: center;
      padding-bottom: 20px;
    }
  }
  #links {
    float: right;
     @include media("(max-width: 480px)"){
       float: none;
       background-color: $color-blackGrey;
       margin-bottom: 20px;
       padding: 20px 0;
       text-align: center;
     }
    a{
      @extend %footer-typo;
    }
    .fa {

      font-size: $font-size-small;
      margin-right: 20px;
    }
   }

}
.primary-footer .container{
  @include media("(max-width: 480px)") {
    padding: 0;
  }
}





