header{
  @extend %bg-image;
  background-image: url("../images/diwanee-cover.png");
  height: 100vh;
  }

#main-text{
  @extend %center-horizontal;
  text-align: center;
  p{
    font-size: $font-size-large-paragrapgh;
    color: $color-darkGrey;
    line-height: 40px;
  }
}