
body {
  font:{
    family:$font-family-text;
    size:$font-size-small;
    weight:$font-weight-normal;
  }
  letter-spacing: $letter-spacing-body;
  color:$color-secondary-text ;
  line-height: $line-height-body;
  @include media("(max-width: 480px)"){
    font-size: 9px;
    line-height: 15px;
  }
}
p {
  margin-bottom: $heading-paragraph-margin-bottom;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
  font-weight: $font-weight-semiBold;
  margin-bottom: $heading-paragraph-margin-bottom;
  text-transform: uppercase;
  text-align: center;
}


h1{
  @include size-height($font-size-xxx-large, 75px);
  @include media("(max-width: 480px)"){
    @include size-height(30px, 49px);
  }
  }

h2{
  @include size-height($font-size-xx-large, 75px);
  letter-spacing: 3px;
  @include media("(max-width: 480px)"){
    @include size-height(20px, 32px);
  }

}
h3{
  @include size-height($font-size-x-large, 36px);
  letter-spacing: 2.33px;
  @include media("(max-width: 480px)"){
    @include size-height(8px, 13px);
  }
}
h4{
  @include size-height($font-size-large, 30px);
  letter-spacing: 4px;
  @include media("(max-width: 480px)"){
    @include size-height($font-size-xx-small, 19px);
  }
}
h5{
  font-size: $font-size-h5;
  @include media("(max-width: 480px)"){
    @include size-height(9px, 15px);
  }
}
h6{
  @include size-height($font-size-small, $line-height-body);
  color: $color-grey;
  font-weight: $font-weight-light;
  margin-bottom: 50px;
  @include media("(max-width: 480px)"){
     @include size-height(9px, 15px);
  }

}


.hidden-text-small {
  @include media("(max-width: 480px)"){
  display: none;}
}