
body {

  font:{
    family:$font-family-text;
    size:$font-size-small;
    weight:$font-weight-normal;
  }
  letter-spacing: $letter-spacing-body;
  color:$color-secondary-text ;
  line-height: $line-height-body;
  @include media("(max-width: 480px)"){
    font-size: 9px;
    line-height: 15px;
  }
}
p {
  margin-bottom: $heading-paragraph-margin-bottom;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
  font-weight: $font-weight-semiBold;
  margin-bottom: $heading-paragraph-margin-bottom;
  text-transform: uppercase;
  text-align: center;
}


h1{
  font:{
    size: $font-size-h1;
    weight: $font-weight-semiBold;
  }
  line-height: 75px;
  @include media("(max-width: 480px)"){
    font-size:30px;
    line-height: 49px;
  }
  }

h2{
  font-size:$font-size-xx-large;
  letter-spacing: 3px;
  line-height: 75px;
  @include media("(max-width: 480px)"){
    font-size: 20px;
    line-height: 32px;
  }

}
h3{
  font-size: $font-size-x-large;
  letter-spacing: 2.33px;
  line-height: 36px;

  @include media("(max-width: 480px)"){
    font-size: 8px;
    line-height: 13px;
  }
}
h4{
  font-size:$font-size-large;
  letter-spacing: 3px;
  line-height: 75px;
  @include media("(max-width: 480px)"){
  font-size: $font-size-xx-small;
    line-height: 19px;
  }
}
h5{
  font-size: $font-size-h5;
  @include media("(max-width: 480px)"){
    font-size: 9px;
    line-height: 15px;
  }
}
h6{
  color: $color-grey;
  font-weight: 300;
  margin-bottom: 50px;
  @include media("(max-width: 480px)"){
    font-size: 9px;
  }

}


.hidden-text-small {
  @include media("(max-width: 480px)"){
  display: none;}
}