//media queries
@mixin media($queryString){
  @media #{$queryString} {
    @content;
  }
}

//set vendor prefix
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
  @if $vendors {
    @each $vendor in $vendors {
      #{"-" + $vendor + "-" + $property}: #{$value};
    }
  }
  #{$property}: #{$value};
}

//set padding
@mixin padding ($pads...) {
  padding: $pads;
}

//set font-size and line-height
@mixin size-height($sizeValue, $height){
  font-size:$sizeValue;
  line-height: $height;

}