%clearfix {
  *zoom: 1;
  clear: both;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after{clear: both;}
}

%center-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%bg-image {

  @include prefix(background-size, cover, webkit moz o);
  background: no-repeat center center;
  width: 100%;
}

//navigation bar
%navbar-links{
  display: inline-block;
  font-size: $font-size-xx-small;
  color: $color-primary-text;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $color-accent;
  }
}
//section-services
%service-box{
  text-align: center;
  padding: 80px 50px;
  background-color:$color-alabasterGrey;
}

%footer-typo{
  font-weight: $font-weight-light;
  font-size: $font-size-xxx-small;
  color: $color-scorpionGrey;
  letter-spacing: 2px;
}