$color-darkGrey: #333333;
$color-grey: #888888;
$color-dustGrey: #9B9B9B;
$color-scorpionGrey: #5B5B5B;
$color-blackGrey: #2D2D2D;
$color-alabasterGrey: #fbfbfb;
$color-lightGrey: #ededed;
$color-white: #ffffff;
$color-red: #C41230;

$color-primary: $color-darkGrey;
$color-secondary: $color-grey;
$color-accent: $color-red;

$font-family-text: 'Source Sans Pro', sans-serif;
$font-weight-normal: 400;
$font-weight-light: 100;
$font--weight-semiBold: 600;

